.member {
    display: flex;
    gap: 40px;
    width: 65vw;
    padding: 40px 90px;
    border-bottom: 1px solid rgb(83, 83, 83);
}

.member.border {
    border-bottom: none;
}

.member-photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 25px -15px black;
}

.member-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: rgb(83, 83, 83);
    font-weight: 350;
}

.member-name {
    font-size: 24px;
    font-weight: 600;
}

.member-title {
    font-size: 18px;
    font-weight: 600;
}

@media only screen and (max-width: 400px) {
    .member {
        flex-direction: column;
        padding: 10vh 5vw;
    }
}