* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/*navbar css*/
.nav {
    padding: 0px 250px;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 25px 2px rgb(205, 244, 250);
    position: fixed;
    top: 0;
    width: 69%;
    overflow: hidden;
    z-index: 9999;
}

.nav .logo {
    display: flex;
    align-items: center;
    gap: 6px;
    color: gray;
    font-weight: 600;
    font-size: 18px;
}

.nav .logo .one{
    color: black;
}

.nav .logo .two{
    color:rgb(66, 213, 236);
}

.nav .logo .three{
    color: rgb(233, 141, 237);
}


.nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.nav a {
    text-decoration: none;
    color: gray;
    transition: 0.2s;
}

.nav a:hover {
    color: rgb(66, 213, 236);
}

.donation {
    background-color: rgb(66, 213, 236);
    padding: 5px 10px;
    border-radius: 10px;
}

.nav .donation {
    color:white;
}

.nav .donation:hover {
    color:white;
    background-color: rgb(12, 162, 185);
}

.nav .active {
    color:rgb(66, 213, 236);
}

.nav .donation.active {
    color: white;
    background-color: rgb(12, 162, 185);
}

/* middle */
.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
}


/* img slider for index page */

.swiper {
    margin-top: 50px;
    display: flex;
    height: 450px;
    width: 900px;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #fff;
    transition: 0.2s;
}

.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
    color: rgb(66, 213, 236);
}

.swiper .swiper-pagination-bullet-active {
    background-color: #fff;
}

/* text for index page */

.index-text {
    display: flex;
    margin-top: 50px;
    border: 2px solid;
    width: 900px;
    height: 900px;
}

.index-text .left {
    flex: 2 1 0px;
}

.index-text .right {
    flex: 1 1 0px;
}

.index-text .left,
.index-text .right {
    border: 2px solid blue;
}

.heading {
    display: flex;
    flex-direction: column;
    font-size: 32px;
}

.heading .subtext {
    font-size: 16px;
}



/* footer */
.footer {
    display: flex;
    flex-direction: column;
    gap:0px;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 242, 255);
    height: 120px;
}

.footer .social-icons {
    display: flex;
    gap: 20px;
    color: gray;
}

.icon {
    color: rgb(103, 103, 103);
    transition: 0.2s;
}

.icon:hover {
    color:rgb(237, 132, 201);
}

ion-icon {
    font-size: 32px;
    font-family: initial !important;
}
