html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.big {
    transform:scale(1.07);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/*navbar css*/
.nav {
    padding: 0px;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 25px -10px /*rgb(205, 244, 250);*/ black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    overflow: visible;
    z-index: 9999;
}

.nav .logo {
    display: flex;
    align-items: center;
    gap: 6px;
    color: gray;
    font-weight: 600;
    font-size: 28px;
    margin-left: 15vw;
    font-family:  Teko, Geneva, Tahoma, sans-serif;
}

.black{
    color: black;
}

.black.shadow {
    text-shadow: 0px 0px 5px black;
}

.white {
    color: white;
}

.blue {
    color:rgb(66, 213, 236);
}

.pink{
    color: rgb(233, 141, 237);
}

.nav .icon {
    margin-top: 40px;
    width: 90px;
    height: auto;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 25px -15px black;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin-right: 15vw;
}

.nav a {
    color: gray;
    transition: 0.2s;
}

.nav a:hover {
    color: rgb(66, 213, 236);
}

.donation {
    background-color: rgb(66, 213, 236);
    padding: 5px 10px;
    border-radius: 10px;
}

.nav .donation {
    color:white;
}

.nav .donation:hover {
    color:white;
    background-color: rgb(12, 162, 185);
}

.nav .active {
    color:rgb(66, 213, 236);
}

.nav .donation.active {
    color: white;
    background-color: rgb(12, 162, 185);
}

/* middle */
.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 50px;
}

#index.middle {
    margin: 0;
    padding: 0;
}

#pages.middle {
    align-items: flex-start;
    padding: 0px 20vw 60px;
}

/* img slider for index page */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.swiper-slide img {
    width: 100%;
    filter: brightness(70%);
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #fff;
    transition: 0.2s;
}

.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
    color: rgb(66, 213, 236);
}

.swiper .swiper-pagination-bullet-active {
    background-color: #fff;
}

.arrow {
    margin-top: calc(-300px + 10vw );
    z-index: 999;
    width: 10vw;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(275deg) brightness(111%) contrast(102%);
    cursor: pointer;
    transition: 0.3s;
}

.arrow:hover {
    filter: invert(79%) sepia(11%) saturate(2476%) hue-rotate(145deg) brightness(94%) contrast(98%);
}

.big-center {
    font-family: Teko, Geneva, Tahoma, sans-serif;
    font-size: 130px;
    margin-top: -500px;
    z-index: 999;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;

    width: 700px;
}

#scroll-anchor {
    margin-top: 165px;
    margin-bottom: 35px;
}

/* text for index page */

.index#main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

.section {
    padding: 15px 13vw;
    display: flex;
    align-items: center;
}

.section img {
    height: 60vh;
}

.section .title {
    font-size: 48px;
}

.section .description {
    font-size: 20px;
    font-weight: 300;
    line-height: 48px;
}

.game {
    padding: 50px 17vw;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/powerplay.jpg");
    background-size: cover;
}

.game .learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 9px;
    padding: 7px 35px;
    color: white;
    border: 3px solid white;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
    transition: 0.2s;
}

.game .learn-more:hover {
    background-color: white;
    color: black;
}

.team-news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-news .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

index-news {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news-box {
    width: 65vw;
    padding: 20px 40px;
    border-radius: 25px;
    box-shadow: 3px 3px 25px -15px black;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 0.2s;

    color: black;
    text-decoration: none;
}

.news-box:hover {
    transform: scale(1.05);
}

.news-title {
    font-size: 24px;
    color: rgb(66,213,236);
    font-weight: 600;
}

.news-caption {
    margin-top: 8px;
    font-size: 14px;
}

.read-more {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    margin-top: 70px;
    padding: 10px 30px;
    border: 3px solid rgb(66,213,236);
    color: rgb(66, 213, 236);
    transition: 0.2s;
}

.read-more:hover {
    background-color: rgb(66, 213, 236);
    color: white;
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    gap:12px;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 242, 255);
    height: 120px;
    min-width: 100%;
}

.footer .social-icons {
    display: flex;
    gap: 20px;
    color: gray;
}

.icon {
    color: rgb(103, 103, 103);
    transition: 0.2s;
}

.icon:hover {
    color:rgb(237, 132, 201);
}

.fa-brands {
    font-size: 32px;
}

/*file: donate.html*/
.middle.donate {
    color: rgb(134, 134, 134);
}

.sponsors {
    font-size: 36px;
    letter-spacing: 4px;
    margin-bottom: 40px;
}

.donation-tiers{
    display: flex;
    gap: 30px;
}

.tier {
    display: flex;
    flex-direction: column;

    border: 1px solid rgb(213, 213, 213);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px rgb(165, 165, 165);

    width: 16vw;
    min-width: 180px;
    height: 360px;

    transition: 0.2s;
}

.tier .top {
    display: flex;
    justify-content: center;
    align-items: center;

    letter-spacing: 5px;
    font-size: 28px;
    font-weight: 400;

    height: 70px;
}

.platinum .top {
    border-bottom: 5px solid rgb(63, 208, 186);
}

.gold .top {
    border-bottom: 5px solid rgb(250, 225, 84);
}

.silver .top {
    border-bottom: 5px solid rgb(154, 154, 154);
}

.bronze .top {
    border-bottom: 5px solid rgb(233, 131, 68);
}

.pricing {
    display: flex;
    justify-content: center;

    border-bottom: 1px solid rgb(213, 213, 213);
    padding: 13px;
    font-size: 28px;
}

.pricing span {
    font-size: 24px;
}

.perks {
    list-style-type: circle;
    padding: 0px 30px 0px 45px;
}

.perks li {
    margin: 10px 0;
}

#pages h1,
#pages p {
    color: rgb(84, 84, 84);
}

#pages p {
    margin-top: -15px;
    font-size: 18px;
    line-height: 2;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(239, 239, 239);
    box-shadow: 2px 2px 25px -10px rgb(44, 44, 44);
}

.image-container img {
    width: 40vw;
    height: 40vh;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.image-container .caption {
    color: rgb(103, 103, 103);
    background-color: white;
    width: 40vw;
    padding: 7px 0px;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
}

.menu-button {
    display: none;
}

.mobile-menu {
    display: none;
}

@media only screen and (max-width: 800px) {
    .section {
        flex-direction: column;
    }

    .swiper {
        margin-top: 100px;
        height: 40vw;
        width: 90vw;
    }

    .swiper-pagination {
        margin-top: -50px;
    }

    .arrow {
        margin-top: -10vh;
    }

    .big-center {
        gap: 10px;
        font-size: 30px;
        margin-top: -30vw;
        width: 250px;
    }

    .nav ul {
        display: none;
    }

    .nav {
        width: 100vw;
    }

    .nav .logo {
        margin-left: -1vw;
    }

    .menu-button {
        display: flex;
        margin-right: 5vw;
        color: gray;
        font-weight: 500;
        transition: 0.3s;
        cursor: pointer;
    }

    .mobile-menu {
        display: block;
        position: fixed;
        margin-top: -100%;
        margin-bottom: -50px;
        transition: 0.5s;
        transition-timing-function: cubic-bezier(.34,.07,.45,.97);
        z-index: 1000;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-menu li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 18px 0;
        margin: 0;
        width: 100vw;
        border-bottom: 4px solid rgb(255, 224, 255);
        background-color: white;
    }

    .donation {
        background-color: white;
        padding: 0;
        border-radius: 0;
    }

    .mobile-menu a {
        text-decoration: none;
        color: gray;
    }

    .mobile-menu a.active {
        color: rgb(66, 213, 236);
    }

    .nav .icon {
        margin-top: 0;
        margin-right: -25px;
        transform: scale(0.5);
    }

    .nav .logo {
        height: 60px;
    }

    .mobile-menu.active {
        margin-top: 60px;
    }

    .donation-tiers {
        flex-direction: column;
    }

    .image-container img,
    .image-container .caption {
        width: 80vw;
    }

    .section img {
        height: 50vw;
    }

    .tier {
        width: 240px;
    }

    
}